USE [master]
GO
/****** Object:  Database [giay]    Script Date: 6/23/2026 6:08:01 PM ******/
CREATE DATABASE [giay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'giay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\giay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'giay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\giay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [giay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [giay]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 6/23/2026 6:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_line]    Script Date: 6/23/2026 6:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_line](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/23/2026 6:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[date] [date] NULL,
	[customer_name] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
	[total_money] [decimal](18, 2) NOT NULL,
	[order_code] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 6/23/2026 6:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_url] [varchar](255) NOT NULL,
	[is_main] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/23/2026 6:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand_id] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](15, 2) NOT NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/23/2026 6:08:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fullName] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([id], [name], [created_at]) VALUES (1, N'Nike', CAST(N'2026-06-03T14:56:41.183' AS DateTime))
INSERT [dbo].[brands] ([id], [name], [created_at]) VALUES (2, N'Adidas', CAST(N'2026-06-03T14:56:41.183' AS DateTime))
INSERT [dbo].[brands] ([id], [name], [created_at]) VALUES (3, N'Puma', CAST(N'2026-06-03T14:56:41.183' AS DateTime))
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
INSERT [dbo].[order_line] ([order_id], [product_id], [quantity], [price]) VALUES (1, 1, 1, CAST(2450000.00 AS Decimal(18, 2)))
INSERT [dbo].[order_line] ([order_id], [product_id], [quantity], [price]) VALUES (2, 1, 1, CAST(2450000.00 AS Decimal(18, 2)))
INSERT [dbo].[order_line] ([order_id], [product_id], [quantity], [price]) VALUES (3, 1, 1, CAST(2450000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [date], [customer_name], [phone], [address], [total_money], [order_code]) VALUES (1, NULL, CAST(N'2026-06-17' AS Date), N'Đặng Đình Phát', N'0123434343', N'343432', CAST(2450000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[orders] ([id], [user_id], [date], [customer_name], [phone], [address], [total_money], [order_code]) VALUES (2, NULL, CAST(N'2026-06-17' AS Date), N'Đặng Đình Phát', N'0123434343', N'tfgf', CAST(2450000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[orders] ([id], [user_id], [date], [customer_name], [phone], [address], [total_money], [order_code]) VALUES (3, NULL, CAST(N'2026-06-17' AS Date), N'Đặng Đình Phát', N'0123434343', N'5454', CAST(2450000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[product_images] ON 

INSERT [dbo].[product_images] ([id], [product_id], [image_url], [is_main]) VALUES (1, 1, N'images/nike-trang-cam.jpg', 1)
INSERT [dbo].[product_images] ([id], [product_id], [image_url], [is_main]) VALUES (2, 2, N'images/nike-sc-wmns.jpg', 1)
INSERT [dbo].[product_images] ([id], [product_id], [image_url], [is_main]) VALUES (3, 3, N'images/nike-af1.jpg', 1)
SET IDENTITY_INSERT [dbo].[product_images] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [brand_id], [name], [description], [price], [status], [created_at]) VALUES (1, 1, N'Nike Air Max 90 Trắng Cam', N'Dòng sản phẩm thể thao chạy bộ cao cấp mẫu 2026.', CAST(2450000.00 AS Decimal(15, 2)), N'available', CAST(N'2026-06-03T22:06:41.807' AS DateTime))
INSERT [dbo].[products] ([id], [brand_id], [name], [description], [price], [status], [created_at]) VALUES (2, 1, N'Nike Air Max Sc Wmns', N'Giày thời trang nữ phong cách trẻ trung, năng động.', CAST(1850000.00 AS Decimal(15, 2)), N'available', CAST(N'2026-06-03T22:06:41.807' AS DateTime))
INSERT [dbo].[products] ([id], [brand_id], [name], [description], [price], [status], [created_at]) VALUES (3, 1, N'Nike Air Force 1 All White', N'Huyền thoại giày street style cân mọi loại trang phục.', CAST(2950000.00 AS Decimal(15, 2)), N'available', CAST(N'2026-06-03T22:06:41.807' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [fullName], [email], [role]) VALUES (1, N'admin', N'123', N'Ông Ch? Shop', N'admin@gmail.com', N'admin')
INSERT [dbo].[Users] ([id], [username], [password], [fullName], [email], [role]) VALUES (2, N'phat123', N'123', N'phat', N'minngu0303@gmail.com', N'user')
INSERT [dbo].[Users] ([id], [username], [password], [fullName], [email], [role]) VALUES (3, N'phat1234', N'1233', N'hvcn', N'minnn@gmail.com', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__brands__72E12F1BFEFB07EF]    Script Date: 6/23/2026 6:08:01 PM ******/
ALTER TABLE [dbo].[brands] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC57200949934]    Script Date: 6/23/2026 6:08:01 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[brands] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[product_images] ADD  DEFAULT ((1)) FOR [is_main]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[order_line]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_line]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([id])
ON DELETE SET NULL
GO
USE [master]
GO
